* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.logo {
  cursor: pointer;
  width: 4%;
  margin:7px;
}

.button-class {
  margin: 5px;
}

#hide_button {
  display: none;
}

.pokedex_header {
  margin-top: 9%;
}

